*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/unit";
@import "partials/colors";
@import "partials/layout";
@import "partials/typography";
// @import "partials/buttons";
@import "partials/spacing";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;

  scroll-behavior: smooth;

   background-color: $black-normal;
}

svg,
img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

@import "partials/l-header";
@import "partials/l-hero";
@import "partials/l-about";
@import "partials/l-project";
@import "partials/l-services";
@import "partials/l-skills";