*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px 18px;
  }
}

.relative {
  position: relative;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}

.flex-item-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 360px;
          flex: 2 1 360px;
}

.flex-item-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 360px;
          flex: 3 1 360px;
}

.flex-item-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}

.flex-item-5 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}

.flex-item-auto {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.btn {
  display: block;
  padding: 16px 24px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.25rem;
  line-height: 125%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.25rem;
    line-height: 110%;
  }
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
  line-height: 120%;
}

@media screen and (max-width: 960px) {
  h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    line-height: 120%;
  }
}

h3 {
  color: #212121;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 150%;
}

@media screen and (max-width: 960px) {
  h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 150%;
  }
}

p {
  color: #212121;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 150%;
}

@media screen and (max-width: 960px) {
  p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    line-height: 150%;
  }
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #171717;
}

svg,
img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

.l-header__nav {
  height: 100px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-header__logo {
  font-size: 1.625rem;
  font-weight: 700;
  color: #f9f9f9;
  text-decoration: none;
}

.l-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  list-style: none;
}

.l-header__item a {
  white-space: pre;
  text-decoration: none;
  color: #f9f9f9;
  padding: 12px 24px;
}

.l-hero__content {
  height: 100%;
}

.l-hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 960px) {
  .l-hero__info {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.l-hero__info h1 {
  font-size: 72px;
  line-height: 100%;
  color: #f9f9f9;
}

.l-hero__info p {
  font-size: 24px;
  color: #828282;
  margin-bottom: 32px;
}

.l-hero__img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  max-width: 500px;
  margin: 32px 0;
}

.l-hero__btn {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}

.l-hero .btn-cv {
  background-color: #00df5e;
  color: #171717;
}

.l-hero .btn-contact {
  background-color: transparent;
  color: #f9f9f9;
  border: 1px solid #828282;
}

.l-about {
  width: 100%;
  padding: 32px 0;
}

.l-about__content {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.l-about__content h2 {
  color: #f9f9f9;
  font-weight: 700;
}

.l-about__content p {
  color: #828282;
  max-inline-size: 700px;
  text-align: center;
  font-weight: 400;
}

.l-about__contact {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 24px;
}

.l-about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-about__box h3 {
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  margin: 16px 0 5px;
}

.l-about__box span {
  color: #828282;
  font-size: 16px;
  font-weight: 400;
}

.l-about__icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212121;
}

.l-about__icon .fab,
.l-about__icon .far,
.l-about__icon .fas {
  font-size: 32px;
  color: #00df5e;
}

.l-project {
  padding: 32px 0;
}

.l-project__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.l-project__content h2 {
  color: #f9f9f9;
  font-weight: 700;
}

.l-project__box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 40px 32px;
}

.l-project__card {
  background-color: #212121;
  padding: 24px;
}

.l-project__card h4 {
  margin: 16px 0 8px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #f9f9f9;
}

.l-project__card span {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}

.l-services {
  width: 100%;
  padding: 32px 0;
}

.l-services__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.l-services__content h2 {
  color: #f9f9f9;
  font-weight: 700;
}

.l-services__box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 45px;
}

.l-services__card {
  background-color: #212121;
  border-bottom: 5px solid #00df5e;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.l-services__card h2 {
  color: #828282;
  font-weight: 500;
  max-inline-size: 130px;
}

.l-services__icon {
  width: 56px;
  height: 56px;
}

.l-services__icon .fab,
.l-services__icon .far,
.l-services__icon .fas {
  font-size: 56px;
  color: #00df5e;
}
/*# sourceMappingURL=style.css.map */