@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/*Variáveis*/
:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;

  --white: #fff;

  --title: #181818;
  --text: #474747;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgSite);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}

/** HEADER*/

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-bar {
  width: 100%;
  text-align: center;
  background-color: var(--title);
}
.call-top {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.139rem;
  color: var(--bgSite);
  padding: 15px;
}

.menu {
  width: 100%;
  text-align: center;
}
.logo {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 4.708rem;
  padding: 6px;
}

.hero {
  background-image: url(../img/wallpaper.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 378px;
}
.hero::before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.container {
  width: 90%;
  height: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: auto;
}
.title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.901rem;
}
.subtitle {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.531rem;
}
.hero .title {
  color: var(--bgSite);
  z-index: 1;
}
.hero .subtitle {
  color: var(--bgSite);
  z-index: 1;
}
#typed {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.531rem;
  color: var(--bgSite);
  z-index: 1;
}

/*SHOP*/

.best-sellers {
  padding: 58px 0;
}
.best-sellers .container {
  align-items: center;
}

.best-sellers .title {
  color: var(--title);
  text-align: center;
}
.best-sellers .subtitle {
  color: var(--text);
  margin-bottom: 40px;
}

.shop {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 39px 13px;
}

.product {
  background-color: var(--bgCard);
  /* width: 300px;*/
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product img {
  display: block;
  max-width: 250px;
}

.product img:hover {
  transform: scale(1.3);
  transition: 1s all ease;
}

/*FOOTER*/

footer {
  text-align: center;
  background-color: var(--title);
  color: var(--bgSite);
  padding: 12px;
}

footer p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.531rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .title {
    font-size: 2.8rem;
    line-height: 3.413rem;
  }
  .subtitle {
    font-size: 1.6rem;
    line-height: 2.88rem;
  }
  .best-sellers .subtitle {
    text-align: center;
  }
  .shop {
    grid-gap: 30px;
  }
}
