///Brand colors

$primary-color: #0f9afe;
$secondary-color: #eff8ff;

//Neutral colors

$white-normal: #ffffff;
$white-200: #eff8ff;

$gray-normal: #6e7275;
$gray-light: #dbdbdb;
$gray-dark: #293145;
