@import 'abstract/variables';
@import 'abstract/responsive';
@import 'abstract/z-index';
@import 'abstract/unit';

:root {
  @each $name, $color in $project-colors {
    --#{$name}: #{$color};
  }
}
.lighttheme {
  @each $name, $color in $light-colors {
    --#{$name}: #{$color};
  }
}

@import 'base/reset';
@import 'base/typography';

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: var(--main);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include media('<SMdesktop') {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 32px;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.container {
  margin-inline: auto;
  max-width: 1200px;
  padding: 0 20px;
}

section {
  padding: 6em 0;
}

.toggle-theme {
  background: var(--gradient);
  border-radius: 50%;

  position: fixed;
  width: 48px;
  height: 48px;
  left: 2vh;
  bottom: 2vh;
  z-index: 999;

  display: grid;
  place-items: center;

  cursor: pointer;

  svg {
    position: relative;
    z-index: 1000;
    width: 32px;
    height: 32px;
    fill: #121212;
  }
}

.scroll-top {
  background: var(--gradient);
  border-radius: 50%;

  position: fixed;
  width: 48px;
  height: 48px;
  right: 2vh;
  bottom: 2vh;
  z-index: 999;

  display: grid;
  place-items: center;

  cursor: pointer;

  svg {
    position: relative;
    z-index: 1000;
    width: 32px;
    height: 32px;
    fill: #121212;
  }
}

@import 'layout/l-header';
@import 'layout/l-hero';
@import 'layout/l-about';
@import 'layout/l-experience';
@import 'layout/l-project';
@import 'layout/l-contact';

footer {
  background-color: var(--main-200);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 20px;

    color: var(--color-200);
    font-size: rem(16);
    font-weight: 300;

    @include media('<tablet') {
      flex-direction: column;
      gap: 16px;
    }

    p {
      display: flex;
      gap: 10px;

      svg {
        fill: tomato;
      }
      span {
        background: var(--gradient);
        background-clip: text;
        color: transparent;
      }
    }
  }
}
