:root {
  --roxo-color-: #574ae8;
  --gray-dark-color-: #475461;
  --gray-medium-color-: #b6b6b6;
  --gray-light-color-: #f3f5f7;
  --white-color-: #fff;
  --gradiente-bg-: linear-gradient(90deg, #574ae8, #3ea1db);
  --title: #313131;
  --text: #b6b6b6;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;

  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.6rem;
  background-color: var(--gray-light-color-);
}

/*HEADER*/

header {
  background-image: var(--gradiente-bg-);
  padding: 41px 0;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  max-width: 900px;

  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav a {
  color: var(--white-color-);
}

header input {
  margin-top: 20px;
  width: 100%;
  height: 65px;
  padding: 20px 40px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2) url(../img/lupa.svg) center / contain
    no-repeat;
  background-size: 24px 24px;
  background-position: 10px center;
  font-size: 1.8rem;
  color: var(--white-color-);
  position: relative;
}

input::placeholder {
  color: var(--white-color-);
}

/*ARTICLES*/

.content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 900px;
  margin: auto;
}
.box {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;

  color: var(--text);
}
.box:last-child {
  margin-bottom: 20px;
}
.box ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box .title {
  color: var(--title);
  font-size: 2.6rem;
  line-height: 3.25rem;
}
.box .description {
  color: var(--text);
  font-size: 1.8rem;
  line-height: 3.2rem;
}
.box .date {
  font-size: 1.6rem;
}

/*RESPONSIVE*/

@media (min-width: 320px) and (max-width: 480px) {
  header input {
    height: 40px;
  }

  .box {
    gap: 10px;
  }

  .box .date {
    font-size: 1.4rem;
  }
  .box .title {
    font-size: 1.8rem;
    line-height: ;
  }
  .box .description {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
}
